body {
  background: url(
  https://cloud.githubusercontent.com/assets/2360059/8524866/a67eac04-2438-11e5-9342-4703095d3e57.png
  );
  background-repeat: no-repeat;
  background-position: right bottom;
  background-attachment: fixed;
}
