body {
  background: url(
  https://cloud.githubusercontent.com/assets/2360059/19347779/863b8528-9185-11e6-9db9-56122af0d061.png
  );
  background-repeat: no-repeat;
  background-position: right bottom;
  background-attachment: fixed;
}
