body {
  background: url(
  https://cloud.githubusercontent.com/assets/2360059/19347779/863b8528-9185-11e6-9db9-56122af0d061.png
  );
  background-repeat: no-repeat;
  background-position: right bottom;
  background-attachment: fixed;
}

.booth {
  overflow: hidden;
  width: 250px;
  height: 300px;
  background-color: #CCCCCC;
}

.booth .item {
  display: inline-block;
  width: 150px;
  vertical-align: top;
  background-color: #FFFFFF;
}

.booth .title:before {
  content: "";
}

.booth .title {
  font-size: 12px;
}

.booth p {
  font-size: 10px;
}

.booth img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

