<div class="sidebar-module">
	<h4>yu-my-star Works</h4>
	<p><a href="https://yu-my-star.booth.pm/">BOOTH</a>と<a href="http://www.dlsite.com/home/dlaf/=/aid/yumystar/url/http%3A%2F%2Fwww.dlsite.com%2Fhome%2Fcircle%2Fprofile%2F%3D%2Fmaker_id%2FRG26973.html%2F%3Fmedium%3Dbnlink%26source%3Duser%26program%3Dtext" target="_blank">DLsite.com</a>で扱ってます</p>
	<script type="text/javascript">blogparts={"type":"circle","site":"maniax","circle_key":"yu-my-star","query":{"keyword_maker_name":"RG26973","order":"release_d","ana_flg":"all"},"title":"サークル作品","display":"vertical","detail":"1","column":"h","image":"small","count":"3","wrapper":"0","aid":"yumystar"}</script><script type="text/javascript" src="//www.dlsite.com/js/blogparts.js" charset="UTF-8"></script>
</div>
