<div class="sidebar-module">
	<h4>yu-my-star Works</h4>

	<h5 class="small">DLsite.com</h5>
	<script type="text/javascript">blogparts={"type":"circle","site":"maniax","circle_key":"yu-my-star","query":{"keyword_maker_name":"RG26973","order":"release_d","ana_flg":"all"},"title":"サークル作品","display":"vertical","detail":"1","column":"h","image":"small","count":"3","wrapper":"0","aid":"yumystar"}</script><script type="text/javascript" src="//www.dlsite.com/js/blogparts.js" charset="UTF-8"></script>

	<h5 class="small">DMM.R18 同人</h5>
	<iframe src="http://blogparts.dmm.com/ranking?adid=9144b2d72ddeca17ec0ed4788734a48f" height="250" width="300" scrolling="no" frameborder="0">
		この部分は iframe 対応のブラウザで見てください。
	</iframe>

	<h5 class="small">BOOTH</h5>
	<div class="booth">
		{{ partial "booth_blogparts.html" . }}
	</div>
	
	<h4>Recent Tweets</h4>
	<a class="twitter-timeline" data-lang="en" data-width="400" data-height="600" data-theme="dark" href="https://twitter.com/mysyutar">Tweets by mysyutar</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
