<div class="sidebar-module">
	<h4>yu-my-star Works</h4>
	<ul>
		<li><a href="https://yu-my-star.booth.pm/">BOOTH</a></li>
		<li><a href="http://www.dlsite.com/home/dlaf/=/aid/yumystar/url/http%3A%2F%2Fwww.dlsite.com%2Fhome%2Fcircle%2Fprofile%2F%3D%2Fmaker_id%2FRG26973.html%2F%3Fmedium%3Dbnlink%26source%3Duser%26program%3Dtext" target="_blank">DLsite.com</a></li>
		<script type="text/javascript">blogparts={"type":"circle","site":"maniax","circle_key":"yu-my-star","query":{"keyword_maker_name":"RG26973","order":"release_d","ana_flg":"all"},"title":"サークル作品","display":"vertical","detail":"1","column":"h","image":"small","count":"3","wrapper":"0","aid":"yumystar"}</script><script type="text/javascript" src="//www.dlsite.com/js/blogparts.js" charset="UTF-8"></script>
		<li><a href="http://www.dmm.co.jp/dc/doujin/-/list/=/article=maker/id=73805/">DMM</a></li>
		<div style="margin:0;padding:5px;font-size:12px;word-break: break-all;"><a href="http://www.dmm.co.jp/dc/doujin/-/detail/=/cid=d_101972/yumystar-001" style="display:block;text-align:center;" target="_blank"><img src="http://pics.dmm.co.jp/digital/comic/d_101972/d_101972pt.jpg" style="margin:0;padding:0;border:0;"><span style="display:block;margin:5px 0 0 0;padding:0;text-align:left;">大開発！！乳首ファクトリー2</span></a></div>
	</ul>

	<h4>Recent Tweets</h4>
	<a class="twitter-timeline" data-lang="ja" data-width="300" data-height="600" href="https://twitter.com/mysyutar">Tweets by mysyutar</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
