<a id="title"></a>
<a href="{{ .RelPermalink }}"><h1 class="doc-entry-title">{{ .Title }}</h1></a>
<div class="doc-entry-meta">
	{{ $baseUrl := .Site.BaseURL }}
	<!-- If exist Categories list then show -->
	<div class="published">
		{{ if .Params.categories }}
			<span>Categories:</span>
			{{ range $name, $value := .Params.categories }}
				<code><a href="{{ $baseUrl }}/categories/{{ $value | urlize }}">{{ $value }}</a></code>
			{{ end }}
			<span>|</span>
		{{ end }}
		<!-- If exist Tags list then show-->
		{{ if .Params.tags }}
			<span>Tags:</span>
			{{ range $name, $value := .Params.tags }}
				<code><a href="{{ $baseUrl }}/tags/{{ $value | urlize }}">{{ $value }}</a></code>
			{{ end }}
			<span>|</span>
		{{ end }}
		<span>Published: <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006/01/02" }}</time></span>
	</div>
</div>
<section>

	{{ if .TableOfContents }}
	<h2>目次</h2>
	<div class="content_tree_list">
		{{ .TableOfContents }}
	</div>
	{{ else }}
	<div class="content_tree_list">
	</div>
	{{ end }}

	{{ .Content }}

</section>
